<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ModuleManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C93077D1CF2CD9400D0E5F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9307911CF2CD9400D0E5F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C93079C1CF2CD9400D0E5F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
